<%
  if( typeof meta === "undefined" ) {
    var meta = {
      title: "",
      pagetype: "blog"
    }
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
  <nav class="l-main__breadcrumb">
    <ol class="p-breadcrumb">
      <li class="p-breadcrumb__item ">
      <a class="p-breadcrumb__text" href="">
        HOME
      </a>
      </li>
      <li class="p-breadcrumb__item ">
      <a class="p-breadcrumb__text" href="">
        BLOG
      </a>
      </li>
      <li class="p-breadcrumb__item ">
      <a class="p-breadcrumb__text" href="">
        お知らせ
      </a>
      </li>
      <li class="p-breadcrumb__item ">
      <span class="p-breadcrumb__text">
        <%= meta.title %>
      </span>
      </li>
    </ol>
  </nav>
