<%
  if( typeof meta === "undefined" ) {
    var title = "";
    var pagetype = "blog"
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
    <div class="p-contents">
      <header class="p-contents__header">
        <h1 class="p-contents__title">
          <%= title %>
        </h1>
        <a class="p-contents__meta" href="">
          <img class="p-contents__icon" src="https://crafatar.com/avatars/39cf878b-ef0b-44fc-a2c6-de3d540a4728" alt="Hirotaisou2012" />
          <span class="p-contents__author">
            Hiratake
          </span>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-calendar"></i>
          <time datetime="2019-09-14" class="p-contents__date">
            19/09/14
          </time>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-tag"></i>
          <span class="p-contents__category">
            ブログ
          </span>
        </a>
        <div class="p-contents__eyecatch">
          <img src="./img/sample/mc06.png" alt="アイキャッチ画像サンプル" class="p-contents__img" />
        </div>
      </header>

      <div class="p-contents__body">
        <p>
          このサーバの原点となった言葉…それは「<a href="" target="_blank" rel=noopener>jao語</a>」。 ヨーロッパに実在するボスニア・ヘルツェゴビナという国付近の民族は、痛みを感じた時に思わず「jao」と言ってしまうそうだが、この言葉と当ページのjao語とは関係がない。
        </p>
        <h2>
          基本
        </h2>
        <p>
          挨拶は、サーバへの参加時の「jao」「afa」である。順番を間違えることは許されない。また、「jao afa」などと両方をまとめて発言することも決して許されない。 しかし、いまは「jf」と「jao」「afa」を省略してあいさつする文化も見受けられている。しかしながら「jao」「afa」が「jf」と略された理由についてはいまだ不明である。
        </p>
        <p>
          「jao」と「afa」の間を3秒(実際にヒラタケが最初に言い放った時の間隔)空けた場合、相手に強い敬意を示す意味になる。 また、誰かの発言に同意した時や返事を求められた時に「jao」と発言することで「はい」の意味になる。
        </p>
        <p>
          さらに、ゲームから退出する場合は、「jaojao」と言う。「jao」と2回発言するのではなく、「jaojao」と1回で発言することが重要。 余談になるが、この世のどこかに存在すると言われている「jaoium(ジャオイウム)」という物質は、「触れるだけでjaojaoする」という性質があることから相手を退出させる道具として期待されている。 なお、「jaoium」は実際に当サーバで作製され、そのあと危ない物質として危険薬物認定され、サーバ内で所持・使用するとJailされるようになった。あぶない。
        </p>
        <h2>
          初出
        </h2>
        <p>
          2014年8月11日15時頃、Hirotaisou2012が今は亡きかっしー鯖に入った時に発言。
        </p>
        <img src="https://jaoafa.com/wp-content/uploads/2018/07/2016-08-21_19.02.21.png" alt="jao語初出" />
      </div>
    </div>
