<%
  if( typeof meta === "undefined" ) {
    var title = "";
    var pagetype = "blog"
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
    <div class="p-contents">
      <header class="p-contents__header">
        <h1 class="p-contents__title">
          <%= title %>
        </h1>
        <a class="p-contents__meta" href="">
          <img class="p-contents__icon" src="https://crafatar.com/avatars/39cf878b-ef0b-44fc-a2c6-de3d540a4728" alt="Hirotaisou2012" />
          <span class="p-contents__author">
            Hiratake
          </span>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-calendar"></i>
          <time datetime="2019-09-14" class="p-contents__date">
            19/09/14
          </time>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-tag"></i>
          <span class="p-contents__category">
            ブログ
          </span>
        </a>
        <div class="p-contents__eyecatch">
          <img src="./img/sample/mc06.png" alt="アイキャッチ画像サンプル" class="p-contents__img" />
        </div>
      </header>

      <div class="p-contents__body">
        <p>
          これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。これは、記事画面のサンプルページです。
        </p>
        <h2>
          見出しサンプル(h2)
        </h2>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
        <table>
        <thead>
          <tr>
            <th>
              テーブルのサンプル
            </th>
            <th>
              テーブルのサンプル
            </th>
            <th>
              テーブルのサンプル
            </th>
            <th>
              テーブルのサンプル
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
          </tr>
          <tr>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
          </tr>
          <tr>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
            <td>
              テーブルのサンプル
            </td>
          </tr>
        </tbody>
        </table>
        <p>これは、<a href="">サイト内リンク</a>のサンプルです。これは、<a href="" target="_blank" rel="" rel="noopener">外部リンク</a>のサンプルです。</p>
        <h3>
          見出しサンプル(h3)
        </h3>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
        <img alt="画像のサンプル" src="./img/sample/mc05.png" />
        <p>
          これは、画像のサンプルです。これは、画像のサンプルです。これは、画像のサンプルです。これは、画像のサンプルです。
        </p>
        <h4>
          見出しサンプル(h4)
        </h4>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
        <ul>
          <li>
            リストのサンプル
          </li>
          <li>
            リストのサンプルリストのサンプル
            <ul>
              <li>
                リストのサンプル
              </li>
              <li>
                リストのサンプル
              </li>
            </ul>
          </li>
          <li>
            リストのサンプルリストのサンプルリストのサンプルリストのサンプルリストのサンプルリストのサンプルリストのサンプルリストのサンプル
          </li>
        </ul>
        <h5>
          見出しサンプル(h5)
        </h5>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
        <ol>
          <li>
            順序ありリストのサンプル
          </li>
          <li>
            順序ありリストのサンプル順序ありリストのサンプル
          </li>
          <li>
            順序ありリストのサンプル順序ありリストのサンプル順序ありリストのサンプル順序ありリストのサンプル順序ありリストのサンプル
          </li>
        </ol>
        <h6>
          見出しサンプル(h6)
        </h6>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
<pre><code>ol > li {
  padding-left: $padding-x5;

  &::before {
    content: counter( cnt );
    counter-increment: cnt;
    width: $padding-x2;
    height: $padding-x2;
    padding-left: $padding-base / 4;
    top: $fontsize-s1 / 4;
    font-family: $fontfamily-en;
    font-size: $fontsize-s4;
    text-align: center;
    line-height: $padding-x2;

    @include bp( md ) {
      top: $fontsize-base / 2.5;
    }
  }
}</code></pre>
        <p>
          これは、文章中の<code>codecodecodecodecodecodecodecodecodecodecodecode</code>のサンプルです。これは、文章中の<code>code</code>のサンプルです。これは、文章中の<code>code</code>のサンプルです。
        </p>
        <blockquote>
          これは、引用文のサンプルです。これは、引用文のサンプルです。これは、引用文のサンプルです。これは、引用文のサンプルです。これは、引用文のサンプルです。これは、引用文のサンプルです。これは、引用文のサンプルです。
          <footer>
            <cite>
              <a href="">jao鯖Webサイトリニューアルのお知らせ｜jao Minecraft Server</a>
            </cite>
          </footer>
        </blockquote>
        <p>
          これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。これは、文章のサンプルです。
        </p>
      </div>
    </div>
