<%
  if( typeof meta === "undefined" ) {
    var title = "";
    var pagetype = "blog"
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
    <div class="p-contents">
      <header class="p-contents__header">
        <h1 class="p-contents__title">
          <%= title %>
        </h1>
      </header>

      <div class="p-contents__body">

      </div>
    </div>
