<%
  if( typeof meta === "undefined" ) {
    var title = "";
    var pagetype = "blog"
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
    <div class="p-contents">
      <header class="p-contents__header">
        <h1 class="p-contents__title">
          <%= title %>
        </h1>
        <ul class="p-contents__meta">
          <li class="p-contents__author">
            <img class="p-contents__authorIcon" src="https://crafatar.com/avatars/39cf878b-ef0b-44fc-a2c6-de3d540a4728" alt="Hirotaisou2012" />
            <a class="p-contents__authorName" href="">
              Hiratake
            </a>
          </li>
        </ul>
      </header>

      <div class="p-contents__body">

      </div>
    </div>
