<%
  if( typeof meta === "undefined" ) {
    var title = "";
    var pagetype = "blog"
  }
  else {
    var title = meta.title;
    var pagetype = meta.pagetype;
  }
-%>
    <div class="p-contents">
      <header class="p-contents__header">
        <h1 class="p-contents__title">
          <%= title %>
        </h1>
        <a class="p-contents__meta" href="">
          <img class="p-contents__icon" src="https://crafatar.com/avatars/39cf878b-ef0b-44fc-a2c6-de3d540a4728" alt="Hirotaisou2012" />
          <span class="p-contents__name">
            Hiratake
          </span>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-calendar"></i>
          <time datetime="2019-09-14" class="p-contents__name">
            19/09/14
          </time>
        </a>
        <a class="p-contents__meta" href="">
          <i class="p-contents__icon fas fa-tag"></i>
          <span class="p-contents__name">
            お役立ち情報
          </span>
        </a>
      </header>

      <div class="p-contents__body">

      </div>
    </div>
