</main>

<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__nav">
    <nav class="p-footerNav">

    </nav>
    </div>
    <div class="l-footer__info">
    <div class="p-footerInfo">
      <div class="p-footerInfo__socialmedia">
      <div class="p-socialmedia">

      </div>
      </div>
      <div class="p-footerInfo__copyright">
      <div class="p-copyright">
        <small class="p-copyright__text">
          &copy; 2019 jao Minecraft Server
        </small>
      </div>
      </div>
    </div>
    </div>
  </div>
</footer>
<script src="./js/main.js"></script>
</body>
</html>