<%
  if( typeof meta === "undefined" ) {
    var meta = {
      title: ""
    }
  }
  else {
    meta.title = meta.title + "｜";
  }
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= meta.title %>jao Minecraft Server</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
  <header>

  </header>
