          <div class="p-articleShare">
            <a class="p-articleShare__button p-articleShare__button--twitter" href="">
              <svg class="p-articleShare__icon">
                <use xlink:href="./img/brand.svg#ico_twitter"></use>
              </svg>
            </a>
            <a class="p-articleShare__button p-articleShare__button--facebook" href="">
              <svg class="p-articleShare__icon">
                <use xlink:href="./img/brand.svg#ico_facebook"></use>
              </svg>
            </a>
            <a class="p-articleShare__button p-articleShare__button--hatena" href="">
              <svg class="p-articleShare__icon">
                <use xlink:href="./img/brand.svg#ico_hatenabookmark"></use>
              </svg>
            </a>
            <a class="p-articleShare__button p-articleShare__button--line" href="">
              <svg class="p-articleShare__icon">
                <use xlink:href="./img/brand.svg#ico_line"></use>
              </svg>
            </a>
          </div>
