      <div class="p-share">
        <a class="p-share__button p-share__button--twitter" aria-label="Twitterでシェア" href="">
        <svg class="p-share__icon">
          <use xlink:href="./img/brand.svg#ico_twitter"></use>
        </svg>
        </a>
        <a class="p-share__button p-share__button--facebook" aria-label="Facebookでシェア" href="">
        <svg class="p-share__icon">
          <use xlink:href="./img/brand.svg#ico_facebook"></use>
        </svg>
        </a>
        <a class="p-share__button p-share__button--hatena" aria-label="はてなブックマークに追加" href="">
        <svg class="p-share__icon">
          <use xlink:href="./img/brand.svg#ico_hatenabookmark"></use>
        </svg>
        </a>
        <a class="p-share__button p-share__button--line" aria-label="LINEで送る" href="">
        <svg class="p-share__icon">
          <use xlink:href="./img/brand.svg#ico_line"></use>
        </svg>
        </a>
      </div>
