//
// Object > Project > Breadcrumb
// -----------------------------------------------------------------

.p-breadcrumb {
  max-width: $width-main-max;
  margin: auto;
  padding: ( ( $size-gap-base / 2 ) + 2px ) $size-gap-base*2 ( $size-gap-base / 2 );
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  text-overflow: ellipsis;
  font-size: $font-size-s3;

  @include bp( md ) {
    padding: ( ( $size-gap-base / 2 ) + 2px ) $size-gap-base*3 ( $size-gap-base / 2 );
  }
}

.p-breadcrumb__item {
  display: inline;

  &:first-child {
    display: none;

    @include bp( md ) {
      display: inline;
    }
  }
  &:not(:last-child) {
    &::after {
      content: "\f105";
      margin: 0 2px 0 4px;
      font-size: $font-size-s4;

      @include ico();
      @include bp( md ) {
        margin: 0 4px 0 6px;
        font-size: $font-size-s3;
      }
    }
  }
  &:hover {
    color: $color-gray-1;
  }
}

.p-breadcrumb__text {
  &:hover {
    text-decoration: none;
  }
}
