//
// Object > Project > Breadcrumb
// -----------------------------------------------------------------

.p-breadcrumb {
  max-width: $width-main-max;
  margin: auto;
  padding: ( $padding-base / 2 ) $padding-x2;
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  text-overflow: ellipsis;
  font-size: $fontsize-s3;

  @include bp( md ) {
    padding: ( $padding-base / 2 ) $padding-x3;
    font-size: $fontsize-s2;
  }
}

.p-breadcrumb__item {
  display: inline;

  &:not(:last-child) {
    &::after {
      content: "\f105";
      margin: 0 2px 0 4px;
      font-family: $fontfamily-ico;
      font-size: $fontsize-s4;

      @include bp( md ) {
        margin: 0 4px 0 6px;
        font-size: $fontsize-s3;
      }
    }
  }
  &:hover {
    color: $color-gray-1;
  }
}
