//
// Object > Project > Contents
// -----------------------------------------------------------------

.p-contents {
  letter-spacing: .1em;
}

.p-contents__title {
  font-size: $fontsize-l3;
  line-height: 1.5;

  @include bp( md ) {
    font-size: $fontsize-l4;
  }
}
