//
// Object > Project > Contents Body
// -----------------------------------------------------------------

.p-contentsBody {

  & > *:not(:last-child) {
    margin-bottom: $padding-x3;

    @include bp( md ) {
      margin-bottom: $padding-x5;
    }
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.25;
  }
  h2 {
    padding: $padding-x2 0 $padding-x2;
    font-size: $font-size-l2;
    border-bottom: solid 2px $color-gray-3;

    @include bp( md ) {
      font-size: $font-size-l3;
    }
  }
  h3 {
    padding: $padding-x2 0 $padding-x2;
    font-size: $font-size-l2;
    border-bottom: solid 1px $color-gray-8;

    @include bp( md ) {
      font-size: $font-size-l3;
    }
  }
  h4 {
    padding: $padding-x2 0 0;
    font-size: $font-size-l1;

    @include bp( md ) {
      font-size: $font-size-l2;
    }
  }
  h5 {
    padding: $padding-x2 0 0;
    font-size: $font-size-base;

    @include bp( md ) {
      font-size: $font-size-l1;
    }
  }
  h6 {
    padding: $padding-x2 0 0;
    font-size: $font-size-s1;

    @include bp( md ) {
      font-size: $font-size-base;
    }
  }
  p {
    code {
      margin: 0 $padding-base / 2;
      padding: 0 $padding-base / 2;
      background: $color-gray-9;
      border-radius: $border-radius-base / 2;
      word-wrap: break-word;
    }
  }
  b, strong {
    font-weight: $fontweight-bold;
  }
  em {
    font-style: italic;
  }
  a {
    &[target="_blank"] {
      &::after {
        content: "\f35d";
        font-size: $font-size-s3;

        @include ico();
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  img {
    width: 100%;
    display: block;
    background: $color-gray-9;
    border-radius: $border-radius-base;
  }
  ul, ol {
    list-style: none;
    counter-reset: cnt;
  }
  li {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      left: $padding-base;
      background: $color-primary;
      border-radius: 50%;
    }
  }
  ul > li {
    padding-left: $padding-x4;

    &::before {
      content: "";
      width: $padding-base;
      height: $padding-base;
      top: $font-size-s1 / 1.6;

      @include bp( md ) {
        top: $font-size-base / 1.6;
      }
    }
  }
  ol > li {
    padding-left: $padding-x5;

    &::before {
      content: counter( cnt );
      counter-increment: cnt;
      width: $padding-x2;
      height: $padding-x2;
      padding-left: $padding-base / 4;
      top: $font-size-s1 / 4;
      font-family: $fontfamily-en;
      font-size: $font-size-s4;
      text-align: center;
      line-height: $padding-x2;

      @include bp( md ) {
        top: $font-size-base / 2.5;
      }
    }
  }
  pre {
    overflow-x: scroll;
    padding: $padding-x2 $padding-x2;
    color: $color-white;
    background: $color-black;
    border-radius: $border-radius-base;
    font-family: $fontfamily-code;
    font-size: $font-size-s1;
    
    @include bp( md ) {
      padding: $padding-x3 $padding-x4;
    }
  }
  code {
    font-family: $fontfamily-code;
    letter-spacing: initial;
  }
  blockquote {
    padding: $padding-x2 $padding-x2;
    background: $color-gray-9;
    border-radius: $border-radius-base;

    @include bp( md ) {
      padding: $padding-x3 $padding-x4;
    }

    footer {
      padding-top: $padding-x2;
    }
    cite {
      font-style: normal;
      font-size: $font-size-s4;

      @include bp( md ) {
        font-size: $font-size-s3;
      }

      &::before {
        content: "引用元：";
      }
    }
  }
  table {
    width: 100%;
    margin: auto;
    display: block;
    overflow-x: auto;
    text-align: left;
    border-collapse: collapse;

    th, td {
      padding: $padding-base;
      border: solid 1px $color-gray-8;
      white-space: nowrap;
      font-size: $font-size-s3;

      @include bp( md ) {
        padding: $padding-base $padding-x2;
        font-size: $font-size-s2;
      }
    }
    th {
      background: $color-gray-9;
      font-weight: $fontweight-bold;
    }
  }
}
