//
// Object > Project > Contents
// -----------------------------------------------------------------

.p-contents {
  letter-spacing: .1em;
}

.p-contents__header {
  display: grid;
  grid-template-rows: auto $height-article-meta auto;
  grid-template-columns: auto auto auto 1fr;
  grid-gap: $padding-x2 $padding-x2;
  line-height: 1.25;
}

.p-contents__title {
  grid-row: 1;
  grid-column: 1 / 5;
  font-size: $fontsize-l3;

  @include bp( md ) {
    font-size: $fontsize-l4;
  }
}

.p-contents__meta {
  grid-row: 2;
  display: flex;
  align-items: center;
  font-size: $fontsize-s3;
  letter-spacing: initial;

  @include bp( md ) {
    font-size: $fontsize-s2;
  }

  &:hover {
    text-decoration: none;
  }
}

.p-contents__icon {
  max-width: $height-article-meta;
  padding-right: $padding-base / 2;

  @include bp( md ) {
    padding-right: $padding-base;
  }
}

.p-contents__eyecatch {
  grid-row: 3;
  grid-column: 1 / 5;
  position: relative;

  &:after {
    content: "";
    padding-top: 52.5%;
    display: block;
  }
  
  & > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.p-contents__img {
  width: 100%;
  display: block;
  background: $color-gray-9;
  border-radius: $border-radius-base;
}
