//
// Object > Project > Contents
// -----------------------------------------------------------------

.p-contents {
  letter-spacing: .1em;
}

.p-contents__body {
  padding: $padding-x4 0;
  
  @include bp( md ) {
    padding: $padding-x6 0;
  }
}
