//
// Object > Project > Copyright
// -----------------------------------------------------------------

.p-copyright {
  color: $color-gray-8;
  font-family: $font-family-en;
}

.p-copyright__text {
  font-size: $font-size-s3;

  @include bp( md ) {
    font-size: $font-size-s2;
  }
}
