//
// Object > Project > Footer Navigation
// -----------------------------------------------------------------

.p-footerNav {
  padding: 0 $size-gap-base*2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  @include bp( md ) {
    padding: 0 $size-gap-base*4;
  }
}

.p-footerNav__item {
  width: 48%;
  margin-bottom: $size-gap-base*2;

  @include bp( md ) {
    width: 40%;
  }
}
