//
// Object > Project > Footer Main
// -----------------------------------------------------------------

.p-footerMain {
  padding: $size-gap-base*6 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  gap: $size-gap-base*8 0;
  align-items: start;

  @include bp( md ) {
    padding: $size-gap-base*8 0;
    grid-template-rows: auto;
    grid-template-columns: 32% 1fr 32%;
    gap: 0 $size-gap-base*2;
  }
}

.p-footerMain__logo {
  transition-duration: $transition-duration-base;

  @include bp( md ) {
    grid-row: 1;
    grid-column: 1;
  }

  &:hover {
    color: $color-gray-8;
  }
}

.p-footerMain__invite {
  @include bp( md ) {
    grid-row: 1;
    grid-column: 3;
  }
}


