//
// Project > Header Login
// -----------------------------------------------------------------

.p-login-user {
  height: 100%;
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: transparent;
  text-decoration: none;
  text-shadow: 0 0 3px #444;
  border-radius: 2px;
  transition-duration: .1s;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &.is-notTop {
    color: #444;
    text-shadow: none;
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin: 4px 0;
    overflow: hidden;
    border-radius: 4px;

    > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__username {
    height: 32px;
    margin: 4px 0 4px 8px;
    font-family: sofia-pro, sans-serif;
    font-size: 16px;
    line-height: 32px;
  }
}
