//
// Object > Project > Meta
// -----------------------------------------------------------------

.p-meta {
  display: flex;
  align-items: center;
  font-size: $font-size-s3;
  letter-spacing: initial;
  text-decoration: none;

  @include bp( md ) {
    font-size: $font-size-s2;
  }
}

.p-meta__icon {
  max-width: $height-article-meta;
  padding-right: $padding-base / 2;

  @include bp( md ) {
    padding-right: $padding-base;
  }
}

.p-meta__body {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
