//
// Object > Project > Table of Contents
// -----------------------------------------------------------------

.p-toc {
  padding: $size-gap-base*3 $size-gap-base*3;
  background: $color-gray-9;
  border-radius: $border-radius-base;

  @include bp( md ) {
    width: 64%;
  }
}

.p-toc__heading {
  margin-bottom: $size-gap-base*2;
  padding-bottom: $size-gap-base;
  border-bottom: solid 1px $color-gray-5;
  font-weight: $font-weight-bold;
}
