<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ホーム｜jao Server</title>
    <style>
        html {font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','Meiryo','メイリオ','Meiryo UI','游ゴシック','Yu Gothic',sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-size-adjust: 100%;font-size: 14px;}
        body {width: 100%;margin: 0;position: relative;}
        article,aside,footer,header,main,nav,section,p {margin: 0;padding: 0;display: block;box-sizing: border-box;}
        img {vertical-align: bottom;}
        input,button,textarea,select {margin: 0;padding: 0;background: none;border: none;border-radius: 0;outline: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.typekit.net/ibc0rnp.css">
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <header id="header">
        <nav>
            <button id="header-navigation-toggle"><span></span></button>
            <div id="header-navigation">
                <ul>
                    <li class="header-navigation-list">
                        <a href="" title="ホームに戻る">HOME</a>
                    </li>
                    <li class="header-navigation-list">
                        <span>SERVER</span>
                        <ul>
                            <li title="バージョン情報、方針、運営者等"><a href="">情報</a></li>
                            <li title="利用する際の規則"><a href="">規則</a></li>
                            <li title="これまでの歴史"><a href="">歴史</a></li>
                        </ul>
                    </li>
                    <li class="header-navigation-list">
                        <span>COMMUNITY</span>
                        <ul>
                            <li title="独自の言語や用語"><a href="">独自言語</a></li>
                            <li title="ワールドに存在する自治体"><a href="">自治体</a></li>
                            <li title="投稿された画像の鑑賞"><a href="">ギャラリー</a></li>
                        </ul>
                    </li>
                    <li class="header-navigation-list">
                        <span>BLOG</span>
                        <ul>
                            <li title="運営からのお知らせ"><a href="">重要なお知らせ</a></li>
                            <li title="サーバの機能やMod解説等"><a href="">お役立ち情報</a></li>
                            <li title="一般ユーザが投稿した記事"><a href="">ユーザ投稿</a></li>
                        </ul>
                    </li>
                    <li class="header-navigation-list">
                        <a href="" title="お問い合わせ">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="hero-section">
            <div id="hero-section-inner">
                <div id="hero-section-text">
                    <svg>
                        <use xlink:href="../img/logo.svg#logo" />
                    </svg>
                    <p>ここで爆発します、あなたの新しい可能性が。</p>
                </div>
            </div>
            <div id="hero-section-img">
                <img src="https://user-images.githubusercontent.com/23224932/50735840-4a711f80-11f8-11e9-924b-3021ba6a59f9.jpg" alt="" />
            </div>
        </section>
        <section id="intro-section">
            <div id="intro-section-inner">
                <div id="intro-section-text">
                    <h3>We love to play games with you.</h3>
                    <img src="../img/gamepad.svg" alt="gamepad" />
                    <p>相手がどのような存在であれ、自分以外の生命体と意思疎通を試みることは非常に重要なことです。</p>
                    <p>あなたが面と向かって話すのが苦手な人類であった場合、現代に生まれたことは非常に幸運なことです。何故ならこの時代にはインターネットの世界があり、文字や画像のみを使った交流が可能だからです。</p>
                    <p>「jao Minecraft Server」は、一般社会から少々外れた意思のある存在と独自言語を織り交ぜて会話をすることができるつよそうなコミュニケーション空間です。</p>
                </div>
            </div>
        </section>
        <section id="connect-section">
            <div id="connect-section-inner">
                <div id="connect-section-text">
                    <h3>Want more jao?</h3>
                    <div id="connect-section-flexbox">
                        <a href="" class="connect-section-link connect-section-link-minecraft" target="_blank">
                            <i class="fas fa-cube"></i>
                            <p>Minecraft で一緒に遊びましょう！<br />創造力を爆発させるクリエイティブなサーバです！</p>
                        </a>
                        <a href="http://discord.gg/VQgbd3F" class="connect-section-link connect-section-link-discord" target="_blank">
                            <i class="fab fa-discord"></i>
                            <p>Discord サーバに参加しませんか？<br />リアルではコミュ障ですがチャットは大好きです！</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/main.js"></script>
</body>
</html>