<%
  var articleMeta = {
    title: "jao鯖Webサイトリニューアルのお知らせ",
    pagetype: "blog"
  };
-%>
<%- include( '../components/_header.ejs', { meta: articleMeta } ) -%>
<%- include( '../components/_breadcrumb.ejs', { meta: articleMeta } ) -%>
    <div class="l-main__article">
      <article class="l-article">
        <header class="l-article__header">
          <div class="p-articleHeader">
            <div class="p-articleHeader__eyecatch">
              <img class="p-articleHeader__image" src="./img/sample/mc06.png" alt="eyecatch" />
            </div>
            <div class="p-articleHeader__info">
              <h1 class="p-articleHeader__title">
                <%= articleMeta.title %>
              </h1>
              <ul class="p-articleHeader__meta">
                <li class="p-articleHeader__metaItem">
                  <a href="">
                    Hiratake
                  </a>
                </li>
                <li class="p-articleHeader__metaItem">
                  <a href="">
                    2019/09/08
                  </a>
                </li>
                <li class="p-articleHeader__metaItem">
                  <a href="">
                    お知らせ
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </header>
      </article>
    </div>
<%- include( '../components/_footer.ejs' ) -%>