//
// Layout > Article
// -----------------------------------------------------------------

.l-article {
  max-width: $width-main-max;
  margin: auto;
  padding: $padding-x4 $padding-x2 $padding-x5;
  position: relative;
  color: $color-gray-1;

  @include bp( md ) {
    padding: $padding-x6 $padding-x3 $padding-x8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }
}

.l-article__contents {
  width: 100%;
  max-width: $width-article-max;
  margin: 0 auto;
  position: relative;
}

.l-article__share {
  @include bp( md ) {
    margin-right: $padding-x3;
  }
  @include bp( lg ) {
    height: 100%;
    margin: 0;
    padding-top: $padding-x6;
    position: absolute;
    left: $padding-x3;
    top: 0;
  }
}
