//
// Layout > Article
// -----------------------------------------------------------------

.l-article {
  max-width: $width-main-max;
  margin: auto;
  padding: $size-gap-base*4 $size-gap-base*2 $size-gap-base*5;
  position: relative;
  color: $color-gray-1;

  @include bp( md ) {
    padding: $size-gap-base*6 $size-gap-base*3 $size-gap-base*8;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }
  @include bp( lg ) {
    padding: $size-gap-base*7 $size-gap-base*3 $size-gap-base*16;
  }
}

.l-article__contents {
  width: 100%;
  max-width: $width-article-max;
  margin: 0 auto;
  position: relative;
}

.l-article__share {
  margin-top: $size-gap-base*3;

  @include bp( md ) {
    margin: 0 $size-gap-base*3 0 0;
  }
  @include bp( lg ) {
    height: 100%;
    margin: 0;
    padding-top: $size-gap-base*6;
    position: absolute;
    left: $size-gap-base*3;
    top: 0;
  }
  @include bp( md ) {
    padding-top: $size-gap-base*8;
  }
}
