//
// Layout > Footer
// -----------------------------------------------------------------

.l-footer {
  width: 100%;
  background: $color-black;
}

.l-footer__inner {
  max-width: $width-main-max;
  margin: auto;
  padding: $padding-x2 $padding-x2;

  @include bp( md ) {
    padding: $padding-x2 $padding-x3;
  }
}
