//
// Layout > Header
// -----------------------------------------------------------------

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $color-white;
  border-bottom: solid 1px $color-gray-8;
  box-shadow: 0 0 8px $color-gray-8;
}

.l-header__inner {
  max-width: $width-main-max;
  margin: auto;
  padding: 0 $padding-x2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp( md ) {
    padding: 0 $padding-x3;
  }
}

.l-header__logo {
  width: $width-header-logo-mobile;
  padding: $padding-x2 0;

  @include bp( md ) {
    width: $width-header-logo-pc;
    padding: $padding-x3 0;
  }

  &:hover {
    color: $color-gray-1;
  }
}
