//
// Layout > Main
// -----------------------------------------------------------------

.l-main {
  margin-top: ( $width-header-logo-mobile * ( 7 / 30 ) ) + ( $size-gap-base*2 * 2 ) - 2px;

  @include bp( md ) {
    margin-top: ( $width-header-logo-pc * ( 7 / 30 ) ) + ( $size-gap-base*2 * 2 ) - 2px;
  }
}

.l-main__breadcrumb {
  position: relative;
  z-index: 90;
  background: $color-gray-9;
  border-bottom: solid 1px $color-gray-8;
}
